// BREAKPOINTS SETTINGS
$breakpoint-list: (
  'xxl': 1920px,
  'xl': 1600px,
  'lg': 1280px,
  'md': 768px,
  'sm': 480px,
  'xs': 320px,
);

// COLORS SETTING
$clr-black: #1e1e1e;
$clr-white: #ffffff;

$clr-gray-900: #170707;
$clr-gray-800: #272727;
$clr-gray-700: #383838;
$clr-gray-400: #626262;
$clr-gray-200: #cacaca;
$clr-gray-100: #ebebeb;

$clr-primary: #db3138;

// FONTS SETTINGS
$ff-system: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$ff-custom: 'Montserrat', sans-serif;

$fs-200: 12px;
$fs-300: 14px;
$fs-400: 16px;
$fs-500: 18px;
$fs-600: 20px;
$fs-700: 24px;
$fs-800: 28px;
$fs-900: 32px;

$fw-400: 400;
$fw-700: 700;
$fw-900: 900;
