// BREAKPOINTS SETTINGS
$breakpoint-list: (
  'xxl': 1920px,
  'xl': 1600px,
  'lg': 1280px,
  'md': 768px,
  'sm': 480px,
  'xs': 320px,
);

// COLORS SETTING
$clr-black: #000000;
$clr-white: #ffffff;

$clr-gray-900: #171717;
$clr-gray-700: #383838;
$clr-gray-400: #626262;
$clr-gray-200: #cacaca;
$clr-gray-100: #ebebeb;

$clr-primary: #bd3f32;
$clr-secondary: #cb356b;

// FONTS SETTINGS
$ff-system: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$ff-primary: 'Montserrat', sans-serif;

$fs-small: 14px;
$fs-normal: 16px;
$fs-moddle: 20px;
$fs-large: 32px;

$fw-regular: 400;
$fw-bold: 700;
